/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.welcome{
    position: fixed;
    top: 175px;
}
.login{
border: 5px solid black;
padding: 30px;
margin: 10px;

}

